/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for dark mode */
}

.light-mode {
    background-color: #f0f0f0;
    color: #000;
}

.dark-mode {
    background-color: #1a1a1a;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #555;
    color: #fff;
    padding: 0.5em;
    text-align: center;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 1em;
}

/* styles.css */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

#dark-mode-toggle {
    /* Add styles for the dark mode toggle button here */
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
}
